.container {
  position: relative;
}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
}
section {
  /* position is static by default */
  margin-left: 200px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
body {
  margin-bottom: 120px;
}

nav2 {
  float: left;
  width: 200px;
  .clearfix {
    overflow: auto;
}
section2 {
  margin-left: 200px;
}

aside2 {
  float: inline-start;
  
}

article2 {
  float: inline-start;
  
}

image1 {
  float: inline-start;
  
}
  
  nav3 {
  float: left;
  width: 25%;
}
section3 {
  margin-left: 25%;
}
  
  nav4 {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.column {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}

